.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas:
    "header header"
    "nav con";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.nav {
  grid-area: nav;
  background-color: #849fad;
}

.header {
  grid-area: header;
  background-color: #ca3542;
}

.header img {
  width: 50px;
  align-self: center;
}

.content {
  grid-area: con;
  background-color: #aec0c9;
}
